*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  font-size:12px;
  overscroll-behavior-x: none;
  background:rgba(0,0,0, 0.05) ;} 
nav{
  position:fixed;
  top:0;
  z-index:10;
}
nav div.nav-wrapper{
  background:#7E57C2;
}

nav div.nav-wrapper a.brand-logo {
  font-weight:sans-serif;
  color:#fff;
  opacity:0;
  font-size:2rem;
  font-family: 'Poppins', sans-serif;
}
nav .nav-wrapper .brand-logo span{
  transition :all 0.6s ease-in ;
}
nav div.nav-wrapper a.brand-logo img{
  position:relative;
  width:40px;
  top:8px;
  margin-left:-5px;
  margin-right: -7px;
}
nav .nav-wrapper .menuIcon{
  opacity:0;
  transition:all 0.3s ease-in;
}
nav div.nav-wrapper .searchBtn{
  margin-right:18px;
  opacity:0;
  transition:all 0.3s ease-in;
}

nav .nav-wrapper form input{
  display:none;
  opacity:0;
  position:fixed;
  top:13px;
  right:47px;
  color:#777;
  height:30px!important;
  padding:0px 5px!important;
  border-bottom:none!important;
  transition:all 0.5s ease-in!important;
  text-align:right;
  background:#fff!important;
  border-radius:80px!important;
}

nav .nav-wrapper form input:focus{
  
  box-shadow:none!important;
}
.sidenav .user-view{
  display:flex;
  align-items: center ;
  padding:20px;
}

.sidenav .user-view .circle {
  box-shadow:0 0 40px rgba(0,0,0,.3);
}

.sidenav .user-view .userInfo{
  margin-left:10px;
  width:100%;
}

.sidenav .user-view .userInfo .name{
  font-weight:bold;
  font-size:1.9em ;
}

.sidenav .user-view .userInfo span{
  color:#7E57C2;
}

.sidenav .user-view .background img{
  width:350px;
}

.sidenav .fb a{
  color:#3b5998;
}

.sidenav .google a{
  color:#D44638;
}

.sidenav .download{
  background:#2196F3;
}

.sidenav .download a{
  color:#fff;
}

.sidenav .download a .material-icons{
  color:#fff;
} 
 
.btn-floating{
  position:fixed;
  bottom:0;
  right:0;
  margin:10px;
  background:rgb(80,80,80);
  z-index:10;
}

main{
  margin-top: 50px;
  padding:21px 21px 11px 21px;
  /*background:linear-gradient(to bottom, #fff,rgba(0,0,0, 0.3)) ;*/
}
main .card .card-image{
  height:150px;
}
main .card .card-content a{
  padding:10px 0px;
  color:#7E57C2;
}
main .card .card-content a:nth-child(1){
  margin-right:15px;
}
main .card .card-content a i, .card-action a i{
  position: relative ;
  top:07px;
  margin-right:5px;
}
main .card .card-content .card-title{
  font-weight: bold ;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
 }
main .card .card-action {
  padding-top:7px;
}
main .card .card-action a:nth-child(2){
  margin-left:-10px;
}
.bold{
  font-weight:bold!important;
}
main .card .card-content .moreBtn{
  position:absolute ;
  top:178px;
  right:15px;
}
main .card .card-reveal .card-title{
  line-height:27px;
  margin-bottom:20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
main .card .card-reveal .closeBtn{
  position:absolute ;
  right:20px;
  top:25px;
}
main .horizontal .card-stacked .card-action a {
  margin-top:-2px;
  width:100%;
  display:inline-block;
  text-align:center;
  margin-left:-3px;
}
main .horizontal{
  overflow: hidden ;
  
  
}
main .horizontal .card-stacked .card-action a i{
  position:relative ;
  top:8px; 
}

main .horizontal .card-image img{
  object-fit:cover;
}
.input-field label {
  color:#7E57C2!important;
} 
.input-field input:focus{
  border-bottom: 2px solid #7E57C2!important;
  box-shadow:none!important;
}
.input-field .valid{
  border-bottom: 1px solid #64B5F6!important;
  box-shadow: 0 1px 0 0 #64B5F6!important;
}

#preloaders {
  margin-top:-5px;
  transition: all 0.1s ease-in;
  padding:0px 21px 11px 21px;
  
}
.loader .row:nth-child(3){
  margin:0!important;
}
.loader .row:nth-child(3) .progress{
  margin-bottom:05px!important;
}
.loaderM .row:nth-child(4){
  margin:0!important;
}
.loaderM .row:nth-child(4) .progress{
  margin-bottom:05px!important;
}
#shadow{
  position:fixed;
  top:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0, 0.4);
  opacity:1;
  z-index:1000;
}
@keyframes scaleX{
  0%{
    transform: translate(-50%,-50%) scale(0.7,0.7);
    opacity:0;
  }
  50%{
    transform: translate(-50%,-50%) scale(1.1,1.1);
  }
  80%{
    transform: translate(-50%,-50%) scale(1,1);
    opacity:1;
  }
}
@keyframes scale-X{
  80%{
    transform: translate(-50%,-50%) scale(0,0);
  }
  50%{
    transform: translate(-50%,-50%) scale(1.1,1.1);
  }
  0%{
    transform: translate(-50%,-50%) scale(1,1);
  }
}
#loginForm{
  border-radius:5px;
  width:90%;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(1,1);
  background:#fff;
  z-index:1001;
  padding:15px 30px 30px 30px;
  text-align:center;
  opacity:0;
  
}

.scaled{
  animation:scaleX 0.2s linear 1;
}
.inverted{
  animation: scale-X 0.3s linear 1;
}
#loginForm .row .input-field{
  padding:0!important;
}
#loginForm .row .input-field label{
  left:0!important;
}
#loginForm .row{
  margin:0 auto;
}
#loginForm a{
  padding-bottom:40px!important;
}

#loginForm a i{
  position: relative ;
  top:2px;
}

#loginForm a:nth-child(1){
  margin:15px 0 0px 0;
  background:#3b5998;
}

#loginForm .row .gll{
  background:#d44638;
}

.swal-button--cancel:focus{
  background:#eee;
  color:#777;
}
.swal-button--confirm{
  color:#fff;
  background:#7E57C2!important;
} 
.swal-button--confirm:focus{
  color:#fff;
  background:#7E57C2;
}
.swal-button--cancel{
  background:#eee;
  color:#777;
}
.swal-text{
  text-align:justify;
  padding:0 25px;
}

.swal-icon.swal-success {
  border-color: red !important;
}

.swal-icon--success{
  border-color :#7E57C2;
}
.swal-icon--success__line{
  background:#7E57C2;
}
.swal-icon--success__ring{
  border-color :#7E57C2 ;
  opacity:0.6;
}